.contenido{
    margin: 35px auto;
    width: 650px;
    padding: 10px 50px;
    background-color: rgb(253, 253, 253);
}
.contenido h1, h2{
    text-align: center;
    font-weight: 600;
}
img{
    width: 170px;
    display: block;
    margin: auto;    
}
.link{
    margin: 0;
    text-align: center;
}
a{
    color: rgb(5, 136, 5);
}